<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <div class="layout-header">
        <img class="layout-header-logo" src="~/images/Logo.png" style="height:55px;" />
        <span class="layout-header-logotype">Fishy Stuff</span>
    </div>
    <div>
        <a href="@Url.Action("Index", "Home")">
            <div class="layout-header-tab w3-btn">Home</div>
        </a>
        <a href="@Url.Action("Index", "Products")">
            <div class="layout-header-tab w3-btn">Produkty</div>
        </a>
        <a href="@Url.Action("Index", "Offers")">
            <div class="layout-header-tab w3-btn">Oferty</div>
        </a>
        <br style="clear:both;" />
    </div>
    <div class="body-section w3-card-4">
        @RenderBody()
    </div>
</body>
</html>

<style>
    .layout-header-tab {
        float: left;
        border-bottom: solid;
        border-right: solid;
        width: 200px;
        height: 100%
    }

    .first-tab {
        border-left: solid;
    }

    .body-section {
        width: 900px;
        margin: auto;
        margin-top: 25px;
        padding: 15px;
        border: solid;
    }

    .layout-header {
        border-bottom: solid;
        background-color: crimson;
        padding: 5px 20px 0px 20px;
    }

    .layout-header-logotype {
        font-size: 30px;
        font-weight: bold;
        vertical-align: middle;
    }
</style>